RTFKit.xcodeproj/xcuserdata/
RTFKit.xcodeproj/project.xcworkspace/xcuserdata/
RTFKit.xcworkspace/xcuserdata/
KissXML/KissXML.xcodeproj/xcuserdata/
zipzap/zipzap.xcodeproj/xcuserdata/
/bamboo-specs/target
