<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyphenationEnabled</key>
	<true/>
	<key>locale</key>
	<string>en_EN</string>
	<key>sections</key>
	<array>
		<dict>
			<key>numberOfColumns</key>
			<integer>2</integer>
			<key>content</key>
			<dict>
				<key>context</key>
				<dict>
					<key>fileWrappers</key>
					<array>
					</array>
				</dict>
				<key>attributeRanges</key>
				<array>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>0</integer>
							<key>length</key>
							<integer>120</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSParagraphStyle</key>
							<dict>
								<key>paragraphSpacing</key>
								<integer>10</integer>
								<key>alignment</key>
								<string>left</string>
								<key>firstLineHeadIndent</key>
								<integer>30</integer>
								<key>headIndent</key>
								<integer>30</integer>
								<key>tailIndent</key>
								<integer>-10</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>120</integer>
							<key>length</key>
							<integer>116</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSParagraphStyle</key>
							<dict>
								<key>paragraphSpacing</key>
								<integer>10</integer>
								<key>alignment</key>
								<string>center</string>
								<key>firstLineHeadIndent</key>
								<integer>30</integer>
								<key>headIndent</key>
								<integer>30</integer>
								<key>tailIndent</key>
								<integer>-10</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>235</integer>
							<key>length</key>
							<integer>121</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSParagraphStyle</key>
							<dict>
								<key>paragraphSpacing</key>
								<integer>10</integer>
								<key>alignment</key>
								<string>right</string>
								<key>firstLineHeadIndent</key>
								<integer>30</integer>
								<key>headIndent</key>
								<integer>30</integer>
								<key>tailIndent</key>
								<integer>-10</integer>
							</dict>
						</dict>
					</dict>
				</array>
				<key>string</key>
				<string>This is a left-aligned paragraph that should have a small indent on the left side and a large indent on the right side.
This is a centered paragraph that should have a small indent on the left side and a large indent on the right side.
This is a right-aligned paragraph that should have a small indent on the left side and a large indent on the right side.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
