<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>content</key>
			<dict>
				<key>attributeRanges</key>
				<array>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>length</key>
							<integer>29</integer>
							<key>location</key>
							<integer>0</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKAdditionalParagraphStyle</key>
							<dict>
								<key>baselineDistance</key>
								<integer>10</integer>
								<key>overrideLineHeightAndSpacing</key>
								<true/>
							</dict>
							<key>NSFont</key>
							<dict>
								<key>name</key>
								<string>Menlo</string>
								<key>size</key>
								<integer>10</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>length</key>
							<integer>28</integer>
							<key>location</key>
							<integer>29</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKAdditionalParagraphStyle</key>
							<dict>
								<key>baselineDistance</key>
								<integer>0</integer>
								<key>overrideLineHeightAndSpacing</key>
								<true/>
							</dict>
							<key>NSFont</key>
							<dict>
								<key>name</key>
								<string>Menlo</string>
								<key>size</key>
								<integer>10</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>length</key>
							<integer>27</integer>
							<key>location</key>
							<integer>57</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKAdditionalParagraphStyle</key>
							<dict>
								<key>baselineDistance</key>
								<integer>20</integer>
								<key>overrideLineHeightAndSpacing</key>
								<true/>
							</dict>
							<key>NSFont</key>
							<dict>
								<key>name</key>
								<string>Menlo</string>
								<key>size</key>
								<integer>10</integer>
							</dict>
						</dict>
					</dict>
				</array>
				<key>string</key>
				<string>10pt distance
10pt distance

00pt distance
00pt ––––––––
20pt distance
20pt distance</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
