<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>footnoteEnumerationPolicy</key>
	<string>perSection</string>
	<key>endnoteEnumerationStyle</key>
	<string>alphabeticUpperCase</string>
	<key>sections</key>
	<array>
		<dict>
			<key>numberOfColumns</key>
			<integer>1</integer>
			<key>content</key>
			<dict>
				<key>attributeRanges</key>
				<array>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>0</integer>
							<key>length</key>
							<real>1398</real>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSParagraphStyle</key>
							<dict>
								<key>lineHeightMultiple</key>
								<integer>4</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>739</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperscript</key>
							<integer>1</integer>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>abc</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>910</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperscript</key>
							<integer>1</integer>
							<key>RKFootnote</key>
							<dict>
								<key>attributeRanges</key>
								<array>
									<dict>
										<key>attributeRange</key>
										<dict>
											<key>location</key>
											<integer>0</integer>
											<key>length</key>
											<integer>3</integer>
										</dict>
										<key>attributeValues</key>
										<dict>
											<key>NSParagraphStyle</key>
											<dict>
												<key>lineHeightMultiple</key>
												<integer>4</integer>
											</dict>
										</dict>
									</dict>
								</array>
								<key>string</key>
								<string>Should occur one time on page two. Neither duplicated nor on page one.</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>string</key>
				<string>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lörem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore  magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
