<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>footnoteAreaAnchorPosition</key>
	<string>left</string>
	<key>footnoteAreaDividerPosition</key>
	<string>left</string>
	<key>pageWidth</key>
	<integer>400</integer>
	<key>pageHeight</key>
	<integer>400</integer>
	<key>footnoteAreaDividerSpacingBefore</key>
	<integer>30</integer>
	<key>footnoteAreaDividerSpacingAfter</key>
	<integer>30</integer>
	<key>footnoteAreaDividerLength</key>
	<integer>200</integer>
	<key>footnoteAreaDividerWidth</key>
	<integer>8</integer>
	<key>footnoteAreaAnchorAlignment</key>
	<string>right</string>
	<key>footnoteAreaContentInset</key>
	<integer>30</integer>
	<key>footnoteAreaAnchorInset</key>
	<integer>10</integer>
	<key>footnoteAreaAnchorAttributes</key>
	<dict>
		<key>NSSuperScript</key>
		<string>superscript</string>
	</dict>
	<key>sections</key>
	<array>
		<dict>
			<key>content</key>
			<dict>
				<key>attributeRanges</key>
				<array>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>1</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>superscript</string>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote
With a second paragraph</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>4</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>superscript</string>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>7</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>superscript</string>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>10</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>superscript</string>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>13</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>superscript</string>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>16</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>superscript</string>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>19</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>superscript</string>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>22</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>superscript</string>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>25</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>superscript</string>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>28</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>superscript</string>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>string</key>
				<string>a  b  c  d  e  f  g  h  i  j  
Some Text to show spacing
Some Text to show spacing
Some Text to show spacing
Some Text to show spacing
Some Text to show spacing</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
