<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>content</key>
			<dict>
				<key>attributeRanges</key>
				<array>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>1</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>4</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>7</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>10</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>13</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>16</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>19</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>22</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>25</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>28</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>31</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>34</integer>
							<key>length</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKFootnote</key>
							<dict>
								<key>string</key>
								<string>This is a Footnote</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>string</key>
				<string>a  b  c  d  e  f  g  h  i  j  k  l  </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
