<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>numberOfColumns</key>
			<integer>2</integer>
			<key>content</key>
			<dict>
				<key>attributeRanges</key>
				<array>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>4</integer>
							<key>length</key>
							<integer>4</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKAdditionalParagraphStyle</key>
							<dict>
								<key>keepWithFollowingParagraph</key>
								<true/>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>location</key>
							<integer>207</integer>
							<key>length</key>
							<integer>15</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKAdditionalParagraphStyle</key>
							<dict>
								<key>keepWithFollowingParagraph</key>
								<true/>
							</dict>
						</dict>
					</dict>
				</array>
				<key>string</key>
				<string>Bla
Not
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Bla
Kept
Kept
Kept
Bla
</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
