<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>content</key>
			<dict>
				<key>attributeRanges</key>
				<array>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>length</key>
							<integer>11</integer>
							<key>location</key>
							<integer>0</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>RKAdditionalParagraphStyle</key>
							<dict>
								<key>baselineDistance</key>
								<integer>18</integer>
								<key>overrideLineHeightAndSpacing</key>
								<true/>
							</dict>
							<key>NSFont</key>
							<dict>
								<key>name</key>
								<string>Helvetica</string>
								<key>size</key>
								<integer>12</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>length</key>
							<integer>1</integer>
							<key>location</key>
							<integer>1</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>superscript</string>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>length</key>
							<integer>1</integer>
							<key>location</key>
							<integer>4</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>superscript</string>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>length</key>
							<integer>1</integer>
							<key>location</key>
							<integer>7</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>subscript</string>
						</dict>
					</dict>
					<dict>
						<key>attributeRange</key>
						<dict>
							<key>length</key>
							<integer>1</integer>
							<key>location</key>
							<integer>10</integer>
						</dict>
						<key>attributeValues</key>
						<dict>
							<key>NSSuperScript</key>
							<string>subscript</string>
						</dict>
					</dict>
				</array>
				<key>string</key>
				<string>M3 m3
M3 m3</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
